/* Colors */
.gal-amber,.gal-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.gal-aqua,.gal-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.gal-blue,.gal-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.gal-light-blue,.gal-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.gal-brown,.gal-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.gal-cyan,.gal-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.gal-blue-grey,.gal-hover-blue-grey:hover,.gal-blue-gray,.gal-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.gal-green,.gal-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.gal-light-green,.gal-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.gal-indigo,.gal-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.gal-khaki,.gal-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.gal-lime,.gal-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.gal-orange,.gal-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.gal-deep-orange,.gal-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.gal-pink,.gal-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.gal-purple,.gal-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.gal-deep-purple,.gal-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.gal-red,.gal-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.gal-sand,.gal-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.gal-teal,.gal-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.gal-yellow,.gal-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.gal-white,.gal-hover-white:hover{color:#000!important;background-color:#fff!important}
.gal-black,.gal-hover-black:hover{color:#fff!important;background-color:#000!important}
.gal-grey,.gal-hover-grey:hover,.gal-gray,.gal-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.gal-light-grey,.gal-hover-light-grey:hover,.gal-light-gray,.gal-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.gal-dark-grey,.gal-hover-dark-grey:hover,.gal-dark-gray,.gal-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.gal-pale-red,.gal-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.gal-pale-green,.gal-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.gal-pale-yellow,.gal-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.gal-pale-blue,.gal-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.gal-text-amber,.gal-hover-text-amber:hover{color:#ffc107!important}
.gal-text-aqua,.gal-hover-text-aqua:hover{color:#00ffff!important}
.gal-text-blue,.gal-hover-text-blue:hover{color:#2196F3!important}
.gal-text-light-blue,.gal-hover-text-light-blue:hover{color:#87CEEB!important}
.gal-text-brown,.gal-hover-text-brown:hover{color:#795548!important}
.gal-text-cyan,.gal-hover-text-cyan:hover{color:#00bcd4!important}
.gal-text-blue-grey,.gal-hover-text-blue-grey:hover,.gal-text-blue-gray,.gal-hover-text-blue-gray:hover{color:#607d8b!important}
.gal-text-green,.gal-hover-text-green:hover{color:#4CAF50!important}
.gal-text-light-green,.gal-hover-text-light-green:hover{color:#8bc34a!important}
.gal-text-indigo,.gal-hover-text-indigo:hover{color:#3f51b5!important}
.gal-text-khaki,.gal-hover-text-khaki:hover{color:#b4aa50!important}
.gal-text-lime,.gal-hover-text-lime:hover{color:#cddc39!important}
.gal-text-orange,.gal-hover-text-orange:hover{color:#ff9800!important}
.gal-text-deep-orange,.gal-hover-text-deep-orange:hover{color:#ff5722!important}
.gal-text-pink,.gal-hover-text-pink:hover{color:#e91e63!important}
.gal-text-purple,.gal-hover-text-purple:hover{color:#9c27b0!important}
.gal-text-deep-purple,.gal-hover-text-deep-purple:hover{color:#673ab7!important}
.gal-text-red,.gal-hover-text-red:hover{color:#f44336!important}
.gal-text-sand,.gal-hover-text-sand:hover{color:#fdf5e6!important}
.gal-text-teal,.gal-hover-text-teal:hover{color:#009688!important}
.gal-text-yellow,.gal-hover-text-yellow:hover{color:#d2be0e!important}
.gal-text-white,.gal-hover-text-white:hover{color:#fff!important}
.gal-text-black,.gal-hover-text-black:hover{color:#000!important}
.gal-text-grey,.gal-hover-text-grey:hover,.gal-text-gray,.gal-hover-text-gray:hover{color:#757575!important}
.gal-text-light-grey,.gal-hover-text-light-grey:hover,.gal-text-light-gray,.gal-hover-text-light-gray:hover{color:#f1f1f1!important}
.gal-text-dark-grey,.gal-hover-text-dark-grey:hover,.gal-text-dark-gray,.gal-hover-text-dark-gray:hover{color:#3a3a3a!important}
.gal-border-amber,.gal-hover-border-amber:hover{border-color:#ffc107!important}
.gal-border-aqua,.gal-hover-border-aqua:hover{border-color:#00ffff!important}
.gal-border-blue,.gal-hover-border-blue:hover{border-color:#2196F3!important}
.gal-border-light-blue,.gal-hover-border-light-blue:hover{border-color:#87CEEB!important}
.gal-border-brown,.gal-hover-border-brown:hover{border-color:#795548!important}
.gal-border-cyan,.gal-hover-border-cyan:hover{border-color:#00bcd4!important}
.gal-border-blue-grey,.gal-hover-border-blue-grey:hover,.gal-border-blue-gray,.gal-hover-border-blue-gray:hover{border-color:#607d8b!important}
.gal-border-green,.gal-hover-border-green:hover{border-color:#4CAF50!important}
.gal-border-light-green,.gal-hover-border-light-green:hover{border-color:#8bc34a!important}
.gal-border-indigo,.gal-hover-border-indigo:hover{border-color:#3f51b5!important}
.gal-border-khaki,.gal-hover-border-khaki:hover{border-color:#f0e68c!important}
.gal-border-lime,.gal-hover-border-lime:hover{border-color:#cddc39!important}
.gal-border-orange,.gal-hover-border-orange:hover{border-color:#ff9800!important}
.gal-border-deep-orange,.gal-hover-border-deep-orange:hover{border-color:#ff5722!important}
.gal-border-pink,.gal-hover-border-pink:hover{border-color:#e91e63!important}
.gal-border-purple,.gal-hover-border-purple:hover{border-color:#9c27b0!important}
.gal-border-deep-purple,.gal-hover-border-deep-purple:hover{border-color:#673ab7!important}
.gal-border-red,.gal-hover-border-red:hover{border-color:#f44336!important}
.gal-border-sand,.gal-hover-border-sand:hover{border-color:#fdf5e6!important}
.gal-border-teal,.gal-hover-border-teal:hover{border-color:#009688!important}
.gal-border-yellow,.gal-hover-border-yellow:hover{border-color:#ffeb3b!important}
.gal-border-white,.gal-hover-border-white:hover{border-color:#fff!important}
.gal-border-black,.gal-hover-border-black:hover{border-color:#000!important}
.gal-border-grey,.gal-hover-border-grey:hover,.gal-border-gray,.gal-hover-border-gray:hover{border-color:#9e9e9e!important}
.gal-border-light-grey,.gal-hover-border-light-grey:hover,.gal-border-light-gray,.gal-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.gal-border-dark-grey,.gal-hover-border-dark-grey:hover,.gal-border-dark-gray,.gal-hover-border-dark-gray:hover{border-color:#616161!important}
.gal-border-pale-red,.gal-hover-border-pale-red:hover{border-color:#ffe7e7!important}.gal-border-pale-green,.gal-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.gal-border-pale-yellow,.gal-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.gal-border-pale-blue,.gal-hover-border-pale-blue:hover{border-color:#e7ffff!important}